body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  font-family: sans-serif;

}
button {
  height: 5.5rem;
  width: 7.5rem;
  font-weight:bolder;
  font-size: 30px;
  
}
button:hover {
  cursor: pointer;
}
p{
  overflow: hidden;
}
.result {
  height: 6rem;
  width: 30rem;
  padding-right:1rem;
  margin-bottom: 4px;
  border: none;
  box-sizing: border-box;
  font-size: 3rem;
  background-color: #00ff44;
  color: #000;
  text-align: right;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  padding: 0;
  margin: 0;
}